body{
  background-color: pink;
font-family:Merriweather,sans-serif;
color:red
}

a {color:black;
  text-decoration: none;
}

a:hover{
  background-color: LightSkyBlue
}

address{
}

img{

}
#Academics{
  color: MediumPurple
}

#Experience{
  color: MediumPurple
}

#Interests{
  color:MediumPurple
}

#Awards{
  color:MediumPurple
}

#Clubs{
  color:MediumPurple
}
