body{
  background-color: pink;
  font-family: 'Abril Fatface';font-size: 22px;
}
main{
  font-family: 'Abril Fatface';font-size: 22px;
}
header{
  text-align: center;
}

nav{
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}


.Aboutme{
  text-align: center;
}

.Description{
  margin: 0 10%;
}
